#The top line below is called a "wrapper" to mark our HTML. 
#And the last line too. HTML has 3 components: specification of language, 
#headers to specify the title and character set depending on language, 
#and body where all the text that will be display on the website goes
#And any sections on the webpage will go in the div. 
#We can render our data as seen below. 

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Flask Templates</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <!-- Render our data -->
      {{ data }}
    </div>
  </div>
</body>

</html>